*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: 100%;
    padding-top: 30px;
}

.container{
    padding: 0 2%;
    margin: 0 auto;
    max-width: 960px;
}

.container .rgm{
    width: 100%;
    background: black;
    border-radius: 50px;
}

.rgm h1{
    color: white;
    text-align: center;
}

.flex-container{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.flex-box{
    padding: 20px 10px;
    width: 33.3%;
    border: 1px solid black;
    border-radius: 20px;
    margin: 0 5px;
}

.flex-box img{
    width: 200px;
    height: 150px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.flex-box .rio{
    text-align: center;
    padding-bottom: 10px;
}

.flex-box h2{
    padding: 10px 0;
}

.flex-box .pl{
    padding-bottom: 10px;
}